<div class="container sign-in__container">
        <div class="sign-in__formwrap">
            <h3 class="sign-in__formwrap__title">Вход</h3>
            <form class="sign-in__form" [formGroup]="signInForm" (ngSubmit)="login()">
              <div class="email-wrap"> 
                  <label for="">E-mail</label>
                  <input [ngClass]="{'input-error': signInForm.get('email').invalid && signInForm.get('email').touched}" type="email" class="sign-in__email-input" formControlName="email">
                  <span *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched" class="valid-err-text">Введите корректный e-mail</span>
              </div>
                <div class="password-wrap">
                    <label for="">Password</label>
                    <input [ngClass]="{'input-error': signInForm.get('password').invalid && signInForm.get('password').touched}" type="password" class="sign-in__password-input" formControlName="password">
                    <span *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched" class="valid-err-text">Введите пароль</span>
                </div>
                <input class="btn-signin__submit btn-primary" [disabled]="signInForm.invalid || signInForm.disabled" type="submit" value="Войти">
            </form>
        </div>
      </div>
      
