<div class="header-layout">
    <div class="container">
        <header class="header">
          <nav>
            <div class="header-content">
              <div class="header-content-img__container">
                <img class="header-content__logo" src="../../assets/img/netcracker-service__logo.png" alt="Netcracker logo">
              </div>
              <ul class="header-nav__list">
                <li>
                    <a routerLink="/">
                      Главная
                    </a>
                </li>
                <li>
                  <a routerLink="/blog">
                      Блог
                  </a>
                </li>
                <li>Публикации</li>
              </ul>
            </div>
          </nav>
          <div class="header-content__btns__wrap">
            <a routerLink="/api/auth/login" class="btn btn-secondary btn-navbar btn-sign-in">{{getSignButtonText()}}</a>
            <a routerLink="/api/auth/register" [ngStyle]="getRegisterBtnStyle()" class=" btn btn-primary btn-navbar">Регистарция</a>
          </div>
        </header>
      </div>
</div>


<router-outlet></router-outlet>