.btn-write__article {
    margin-right: 15px;
    padding: 9px 15px;
    font-size: 15px;
    background-color: white;
}

.icon-pencil {
    margin-right: 7px;
}

.btn-blog__reload {
    padding: 9px 15px;
    font-size: 15px;
}

.blog-btns__wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
}