<section class="blog">
  <div class="container">
      <div class="blog-btns__wrap">
          <a routerLink="/api/blogs/newBlog" type="button" *ngIf="!_newPost" class="btn btn-navbar btn-secondary btn-write__article">
            <fa-icon class="icon-pencil" [icon]="_faPencilAlt"></fa-icon>
            Написать статью
          </a>
          <button [disabled]="_loadingBlogs" (click)="reloadBlogs()" type="button" class="btn btn-primary btn-blog__reload" *ngIf="!_newPost">Обновить</button>
      </div>  
      <div class="blog-item" *ngIf="!_newPost"> 
          <div class="blog-header">
              <h3>Заголовок</h3>
          </div>
            <div class="blog-body">
              <p class="blog-body__text">
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
              </p>
            </div>
            <div class="blog-footer">
                <p class="blog-footer__author">
                  <strong>Создатель:</strong> user123
                </p>
                <p class="blog-footer__date">
                    <strong>Дата:</strong> Июнь, 2019
                </p>
                <div class="blog-footer-btns__wrap">
                  <button class="btn btn-edit-blog">Редактировать пост </button>
                  <button class="btn btn-delete-blog">Удалить пост</button>
                </div>
              </div>
              <ul class="list-group">
                  <li class="list-group-item">
                    <button (click)="draftComment()" class="btn btn-write-comment btn-primary"> 
                       Оставить комментарий 
                    </button>
                    <br>
                  </li>
                  
                </ul>
      </div> 
      
      <br />
      <br />
      
      <!-- New blog creating -->
      <div class="create-blog__item" *ngIf="_newPost" > 
        <form [formGroup]="blogForm" name="blogForm" (submit)="onBlogSubmit()">
          <label class="create-blog__label" for="title">Заголвок статьи:</label>
          <div [ngClass]="{'input-error': blogForm.get('title').invalid && blogForm.get('title').touched}">
            <input class="create-blog__input-title" type="text" name="title" placeholder="Заголовок статьи" autocomplete="off" formControlName="title"/>
            <ul class="help-block">
              <li *ngIf="blogForm.get('title').invalid && blogForm.get('title').touched">Заполните это поле</li>
            </ul>
          </div>
          <label class="create-blog__label" for="blog-body">Текст статьи:</label>
          <textarea class="blog-item__body" id="blog-body" placeholder="Напишите текст статьи" formControlName="body" name="content" id="form-control" cols="30" rows="10"></textarea>
          <button type="submit" class="post-comment__btn  btn btn-primary ">Запостить</button>
          <button type="button" class="cancel-comment__btn btn btn-secondary " (click)="hideNewBlogForm()">Назад</button>
        </form>
      </div>
      
  </div>
</section>

